.cartitems {
  margin: 40px 50px 100px;
}

.cartitems hr {
  height: 2px;
  background-color: #e2e2e2;
  border: 0;
}

.cartitem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 70px;
  padding: 20px 0;
  font-weight: 600;
  place-items: left;
}

.cartitem-format-main span {
  color: black;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cart-items-format {
  font-size: 15px;
  font-weight: 500;
  color: #454545;
  padding-left: 30px;
}
.carticon-product-icon {
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.cartitems-remove-items {
  margin: 0px 25px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.cartitems-remove-items:hover {
  transform: scale(1.2);
  color: red;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background-color: #fff;
}

.cartitems-down {
  display: flex;
  margin: 50px 0 100px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cartitems-total h1 {
  font-size: 20px;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #555;
}

.cartitems-promo-box {
  width: 405px;
  margin-top: 15px;
  padding-left: 20px;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
}
.cartitems-promo-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 265px;
  height: 42px;
}
.cartitems-promo-box button {
  width: 140px;
  height: 50px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
