.instaSection {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: #171717;
  font-size: 55px;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.instaBottomSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .instaSection {
    margin-top: 30px !important;
  }
  .instaBottomSection {
    gap: 0px;
    width: 100%;
  }
}
