.testimonials {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}

.testiContainer {
  width: 70%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.testiRight {
  flex-basis: 100%;
  width: 120px;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 840px) {
  .testimonials {
    height: 100%;
  }

  .testiContainer {
    width: 90%;
    flex-direction: column;
  }
  .testiButtonContainer {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .testiRight {
    width: 90%;
    margin: auto;
  }
}
