.testimonials {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}

.testiContainer {
  width: 70%;
  margin: auto;
  height: 100%;
  position: relative;
}

.testiRight {
  flex-basis: 100%;
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 1050px) {
  .testiContainer {
    width: 80%;
  }
}
